<!--banner section start -->
<div class="body">
    <div class="header_section">
        <div class="banner_section">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="taital_main">
                                        <h1 class="banner_taital">MeetEasy</h1>
                                        <br />
                                        <h4>"Seamless Meeting Room Booking: Your Space, Your Time"</h4>
                                        <br /><br />
                                        <div class="btn btn-primary"><a routerLink="/Admin">ADMIN LOGIN</a></div>
                                        <br /><br />
                                        <div class="btn btn-primary"><a routerLink="/Employee">EMPLOYEE LOGIN</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="../../../assets/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image_2"><img src="../../../assets/images/img-2.png"></div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="about_taital">About <span class="us_text">Us</span></h1>
                            <p class="about_text">At MeetEasy, we're all about making your work life easier. Our mission
                                is to simplify the way you book and use meeting rooms, so you can focus on what truly
                                matters – productive meetings and collaboration.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div
                    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                    <div class="text-white mb-3 mb-md-0">
                        Copyright © 2020. All rights reserved.
                    </div>
                    <div>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#!" class="text-white">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>